


@media screen and (min-width:768px){
    .benefits{
     padding-top:60px;
     padding-bottom:60px;}

 .benefits-container{
    padding:0;
}
.benefits-list{
    display: flex;
    flex-direction: row;
    gap: 30px;}

    .benefits-list__box{
            box-sizing: border-box;
            width:270px;
            height:120px;
            background-color:#F5F4FA;
            display:flex;
            border-radius: 4px; 
            align-items:center;
            justify-content:center;
        }  
        
    .benefits-list__title{
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--secondary-text-color);
        margin-bottom:10px;
    }    
 }



@media screen and (min-width:1200px){
.benefits{
    padding-bottom: 94px;
    padding-top: 94px; 
}

.benefits-list{
    display: flex;
    gap: 30px;

    &__box{
        box-sizing: border-box;
        width:270px;
        height:120px;
        background-color:#F5F4FA;
        display:flex;
        border-radius: 4px; 
        align-items:center;
        justify-content:center;
        margin-bottom:30px;
    }

    &__title{
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--secondary-text-color);
        margin-bottom:10px;
    }
}}




