
.projects-list{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}
.project-list-card{
    border-bottom:1px solid #EEEEEE;
    border-left:1px solid #EEEEEE;
    border-right:1px solid #EEEEEE;
    padding:20px 24px;
    
}

.projects-list h2{
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom:4px;
    
}

.works-items{
font-size: 16px;
line-height: 1.8;
color:#757575;

}

.project-list-link-wrapper{
text-decoration: none;
display: block;
transition: box-shadow var(--transit-dur-and-func);

}

.project-list-img-wrapper{
position:relative;
overflow:hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: inherit;
font-weight: 400;
font-size: 18px;
letter-spacing: 0.03em;
color:var(--main-color);
padding: 63px 24px;
line-height: 1.5;
overflow: auto;
transform: translateY(100%);
transition: transform var(--transit-dur-and-func),background-color var(--transit-dur-and-func);

.project-list-link-wrapper:hover &,
.project-list-link-wrapper:focus &{
    transform: translateY(0%);
    background-color:rgba(33, 150, 243, 0.9);
  }
}

.projects-list-item-link:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
