
.team{
    background:var(--secondary-color);
    line-height: 1.2;
    padding-top:94px;
    padding-bottom:94px;
  }
  
  .team-members{
      display: flex;
      gap:30px;
      flex-wrap: wrap;
  
  }
  
  .team-members h3{
      font-weight: 500;
      font-size: 16px;
      color:var(--secondary-text-color);
      text-align: center;
      margin-bottom:10px;
  }
  
  .team-members-card{
      padding-top:30px;
      padding-bottom:30px;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
  }
  
  .team p{
      font-size: 16px;
      text-align: center;
      margin-bottom:16px;
  }