
.contacts {
    display:flex;
    gap:50px;
    align-items: center;

    &__mail,
    &__tel {
    display:flex;
    color:inherit;
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    transition:color var(--transit-dur-and-func);
    &:hover,
    &:focus{
    color: var(--accent-color);}
}

    &__icon {
    display:flex;
    align-items: center;
    margin-right:10px;
    fill: currentColor;
   }
}

 
 

